.hi{
    text-align: center;
    padding-top: 5rem;
}

.space{
    padding: 1rem;
}

.profile{
    text-align: center;
}

.box{
    margin: 1rem;
}

.icon{
    margin: 1rem;
}

.footer{
    margin-top: 10rem;
}

.form-intro{
    padding: 2rem;
}
.form-body{
    padding: 2rem;
}